.main-header nav {
  background-color: #1c1c1c;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.header {
  -ms-flex-direction: row;
  flex-direction: row;
}
.wrapper {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  max-width: none;
  padding: 20px 15px;
  width: 95%;
}
.logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  display: contents;
}
.logo > img {
  height: 110%;
}
.wrap_links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.link-border {
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  background: #e41a4b;
}
.link_wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 50px;
  grid-gap: 10px;
  gap: 10px;
  width: 100%;
  position: relative;
}
.link_items {
  border-radius: 9px;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  padding: 10px 15px;
}
.logout {
  background-color: #e41a4b;
  border-radius: 15px;
  padding: 5px 13px 8px;
}
.search_btn {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
@media screen and (min-width: 3000px) {
  .wrapper {
    padding: 40px 30px;
  }
  .link_wrapper {
    margin: 0 100px;
  }
  .link_items {
    font-size: 60px;
    padding: 20px 30px !important;
  }
  .logout {
    padding: 10px 26px 16px;
  }
  .search_from_img {
    height: 65px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 15px 8px;
  }
  .logo img {
    width: 140px;
  }
  .link_items {
    font-size: 20px;
    padding: 5px 12px;
  }
  .search_from_img {
    height: 30px;
  }
  .search_btn {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    padding: 5px 10px;
  }
  .search_btn img {
    height: 30px;
  }
}
.payment {
  padding: 20px 30px 0;
}
.payment .flex-grid {
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.payment h1 {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 40px;
}
.payment ul {
  list-style-type: none;
  padding: 0;
}
.payment li {
  font-size: xx-large;
  margin: 10px 0;
}
.payment .qr {
  max-width: 500px;
}
.payment-icon {
  background: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid hsla(0, 0%, 100%, 0.48);
  margin: 0 0 30px;
  padding: 15px 30px;
  border-radius: 15px;
}
.payment-icon img {
  min-height: 70px;
}
.pay-icon {
  width: 24%;
  height: 150px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.pay-icon .qr-scan {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: 0;
}
.pay-icon .qr-scan img {
  height: 35px;
  width: 35px;
}
.pay-icon img {
  width: 60%;
  max-width: 250px;
  max-height: 100px;
}
@media screen and (min-width: 3000px) {
  .payment {
    padding: 20px 60px 0;
  }
  .payment h1 {
    font-size: 90px;
    margin-bottom: 80px;
  }
  .payment li {
    font-size: xx-large;
    margin: 20px 0;
  }
  .payment .qr {
    max-width: 1000px;
  }
  .payment .red-text {
    font-size: 90px !important;
  }
  .payment-icon {
    -webkit-box-shadow: 0 8px 60px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 60px rgba(0, 0, 0, 0.1);
    border-width: 2px;
    margin: 0 0 60px;
    padding: 30px 60px;
  }
  .payment-icon img {
    min-height: 140px;
  }
  .pay-icon {
    height: 300px;
    margin: 20px 0;
  }
  .pay-icon .qr-scan {
    top: 30px;
    right: 30px;
  }
  .pay-icon .qr-scan img {
    height: 70px;
    width: 70px;
  }
  .pay-icon img {
    max-width: 500px;
    max-height: 200px;
  }
}
@media screen and (max-width: 1280px) {
  .payment {
    padding: 10px 20px 0;
  }
  .payment h1 {
    font-size: 25px;
    margin: 0 0 20px;
  }
  .payment li {
    font-size: xx-large;
    margin: 20px 0;
  }
  .payment .qr {
    max-width: 800px;
  }
  .payment .red-text {
    font-size: 30px !important;
  }
  .payment-icon {
    -webkit-box-shadow: 0 8px 60px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 60px rgba(0, 0, 0, 0.1);
    border-width: 2px;
    margin: 0 0 20px;
    border-radius: 8px;
    padding: 10px 20px;
  }
  .payment-icon img {
    min-height: 40px;
  }
  .pay-icon {
    height: 120px;
    margin: 10px 0 20px;
  }
  .pay-icon .qr-scan {
    top: 15px;
    right: 15px;
  }
  .pay-icon .qr-scan img {
    height: 25px;
    width: 25px;
  }
  .pay-icon img {
    max-width: 500px;
    max-height: 200px;
  }
}
.style_slider_wrapper__2dniz {
  padding: 10px 30px;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  -o-transition: filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}
.style_unfocus__pBqtS {
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}
.style_slider__1kr3g {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  scroll-behavior: auto;
}
.style_slider__1kr3g > * {
  margin: 0 30px 10px !important;
}
h4 {
  margin: 0;
}
h1 {
  margin: 0 0 50px;
}
@media screen and (min-width: 3000px) {
  .style_slider_wrapper__2dniz {
    padding: 20px 60px;
  }
  .style_slider__1kr3g > * {
    margin: 0 60px 20px !important;
  }
  h1 {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1280px) {
  .style_slider_wrapper__2dniz {
    padding: 10px 20px;
  }
  .style_slider__1kr3g > * {
    margin: 0 20px 10px !important;
  }
  h1 {
    margin-bottom: 20px;
  }
}
.style_card__1hs8H {
  display: block;
  margin: 5px;
  border-radius: 15px;
  display: table;
}
.style_card_img__1UChO {
  width: 300px;
  height: 430px;
  position: relative;
}
.style_card_img__1UChO img {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.style_card_title__3DvTt {
  font-weight: 400;
  font-size: 32px !important;
  font-size: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 80px !important;
  max-width: 300px;
}
.style_skeleton__Yf83Z > :first-child {
  height: 400px;
}
.style_skeleton__Yf83Z > :first-child > :first-child {
  height: 97%;
}
.style_skeleton__Yf83Z span {
  margin: 0 !important;
}
@media screen and (min-width: 3000px) {
  .style_card__1hs8H {
    margin: 10px;
  }
  .style_card_img__1UChO {
    width: 600px;
    height: 860px;
  }
  .style_card_title__3DvTt {
    font-size: 64px !important;
    font-size: 50px;
    max-height: 160px !important;
    max-width: 600px;
  }
  .style_skeleton__Yf83Z > :first-child {
    height: 800px;
  }
}
@media screen and (max-width: 1280px) {
  .style_card__1hs8H {
    margin: 3px;
  }
  .style_card_img__1UChO {
    width: 220px;
    height: 320px;
  }
  .style_card_title__3DvTt {
    font-size: 28px !important;
    max-height: 60px !important;
    max-width: 220px;
  }
  .style_skeleton__Yf83Z > :first-child {
    height: 800px;
  }
}
.style_one_line__28Jwi {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.style_one_line__28Jwi:not(:hover) {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.style_one_line__28Jwi:focus,
.style_one_line__28Jwi:hover {
  -o-text-overflow: clip !important;
  text-overflow: clip !important;
}
.style_one_line__28Jwi:focus span,
.style_one_line__28Jwi:hover span {
  display: inline-block;
  -webkit-animation-name: style_scroll_text__3n6nz;
  animation-name: style_scroll_text__3n6nz;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}
.style_left__uuzv_ {
  -ms-flex-pack: left !important;
  justify-content: left !important;
}
.style_animate__2CuQ7 {
  -o-text-overflow: clip !important;
  text-overflow: clip !important;
}
.style_animate__2CuQ7 span {
  display: inline-block;
  -webkit-animation-name: style_scroll_text__3n6nz;
  animation-name: style_scroll_text__3n6nz;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}
@-webkit-keyframes style_scroll_text__3n6nz {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  90% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  95% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
@keyframes style_scroll_text__3n6nz {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  90% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  95% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
.style_container__2-x-- {
  background-color: #202020;
  border-radius: 15px;
}
.style_channel_card__3cjMK .style_card_img__Zoo0E {
  height: auto;
  width: 250px;
}
.style_channel_card__3cjMK article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.style_channel_card__3cjMK span {
  font-weight: 500;
  font-size: 30px;
  margin: 20px 0 0;
}
.style_chanel_th__3z874 {
  height: 210px !important;
  width: 330px !important;
}
.style_spec_height__3wFrg > :first-child {
  height: 290px;
  width: 330px;
}
.style_check__3RbSx {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6196078431372549);
  padding: 10px;
  right: 10px;
  border-radius: 15px;
  top: 10px;
}
.style_bottom_img__23AXM {
  position: absolute !important;
  left: 10px !important;
  top: auto !important;
  bottom: 10px !important;
  width: auto !important;
  height: 100px !important;
}
@media screen and (min-width: 3000px) {
  .style_channel_card__3cjMK .style_card_img__Zoo0E {
    width: 500px;
  }
  .style_channel_card__3cjMK span {
    font-size: 60px;
    margin: 40px 0 0;
  }
  .style_chanel_th__3z874 {
    height: 420px !important;
    width: 660px !important;
  }
  .style_spec_height__3wFrg > :first-child {
    height: 580px;
    width: 660px;
  }
  .style_check__3RbSx {
    padding: 20px;
    right: 20px;
    top: 20px;
  }
  .style_bottom_img__23AXM {
    left: 20px !important;
    bottom: 20px !important;
    height: 200px !important;
  }
}
@media screen and (max-width: 1280px) {
  .style_channel_card__3cjMK .style_card_img__Zoo0E {
    width: 200px;
  }
  .style_channel_card__3cjMK span {
    font-size: 25px;
    margin: 10px 0 0;
  }
  .style_chanel_th__3z874 {
    height: 160px !important;
    width: 230px !important;
  }
  .style_spec_height__3wFrg > :first-child {
    height: 200px;
    width: 280px;
  }
  .style_check__3RbSx {
    padding: 20px;
    right: 20px;
    top: 20px;
  }
  .style_bottom_img__23AXM {
    left: 8px !important;
    bottom: 8px !important;
    height: 70px !important;
  }
}
.style_wrapper__39BzE {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.style_wrapper__39BzE > input {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: grey;
  border: none;
}
.style_wrapper__39BzE > input:before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  -webkit-clip-path: polygon(11% 38%, 0 45%, 50% 91%, 98% 1%, 89% -9%, 45% 71%);
  clip-path: polygon(11% 38%, 0 45%, 50% 91%, 98% 1%, 89% -9%, 45% 71%);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.12s ease-in-out;
  transition: -webkit-transform 0.12s ease-in-out;
  -o-transition: 0.12s transform ease-in-out;
  transition: transform 0.12s ease-in-out;
  transition: transform 0.12s ease-in-out, -webkit-transform 0.12s ease-in-out;
  -webkit-box-shadow: inset 1em 1em #fff;
  box-shadow: inset 1em 1em #fff;
  background-color: #fff;
}
.style_wrapper__39BzE > input:checked {
  background-color: #e41a4b;
  -webkit-transition: -webkit-transform 0.12s ease-in-out;
  transition: -webkit-transform 0.12s ease-in-out;
  -o-transition: 0.12s transform ease-in-out;
  transition: transform 0.12s ease-in-out;
  transition: transform 0.12s ease-in-out, -webkit-transform 0.12s ease-in-out;
}
.style_wrapper__39BzE > input:focus:after {
  display: none;
}
@media screen and (min-width: 3000px) {
  .style_wrapper__39BzE {
    font-size: 2rem;
    line-height: 1.1;
  }
  .style_wrapper__39BzE > input {
    height: 60px;
    width: 60px;
  }
  .style_wrapper__39BzE > input:before {
    width: 1em;
    height: 1em;
    -webkit-box-shadow: inset 1em 1em #fff;
    box-shadow: inset 1em 1em #fff;
  }
}
@media screen and (max-width: 1280px) {
  .style_wrapper__39BzE {
    font-size: 1rem;
    line-height: 1;
  }
  .style_wrapper__39BzE > input {
    height: 20px;
    width: 20px;
  }
  .style_wrapper__39BzE > input:before {
    width: 1em;
    height: 1em;
    -webkit-box-shadow: inset 1em 1em #fff;
    box-shadow: inset 1em 1em #fff;
  }
}
.style_more__3PF2e {
  border-radius: 15px;
  background-color: #303030;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 303px;
  border: none;
  border-right: 7px solid rgba(0, 0, 0, 0);
  margin: 0 20px 0 5px;
}
.style_card__Zixh0 > div > * {
  margin: 0 0 5px !important;
}
.style_bottom_ratings__2ssYN {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
}
.style_rating__8tukB > img {
  position: relative;
  margin: 0 2px 0 0;
  height: 50px;
  width: 50px;
}
.style_rating__8tukB > span {
  width: 100%;
  text-align: left;
}
.style_rating__8tukB {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-size: 28px;
  font-weight: 600;
}
.style_animate__2iBML {
  -webkit-animation-name: style_exit__3ytwn;
  animation-name: style_exit__3ytwn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.5, -2.8, 1, 0);
  animation-timing-function: cubic-bezier(0.5, -2.8, 1, 0);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes style_exit__3ytwn {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  to {
    z-index: 999;
    -webkit-transform-origin: center;
    -webkit-transform: scale(1.1);
  }
}
@media screen and (min-width: 3000px) {
  .style_card__Zixh0 > div > :not(:last-child) {
    margin: 0 0 10px !important;
  }
  .style_bottom_ratings__2ssYN {
    padding: 20px 0;
  }
  .style_rating__8tukB > img {
    margin: 0 4px 0 0;
    height: 100px;
    width: 100px;
  }
  .style_rating__8tukB {
    font-size: 56px;
  }
}
@media screen and (max-width: 1280px) {
  .style_card__Zixh0 > div > * {
    margin: 0 !important;
  }
  .style_bottom_ratings__2ssYN {
    padding: 8px 0;
  }
  .style_rating__8tukB > img {
    margin: 0 2px 0 0;
    height: 30px;
    width: 30px;
    border-radius: 0;
  }
  .style_rating__8tukB {
    font-size: 18px;
  }
}
.style_carousel__vdhNj {
  overflow: hidden;
  width: 100%;
  margin: 0 !important;
  padding: 40px 0 0;
  min-height: 540px;
  display: inline-grid;
}
.style_slider__2GX-P {
  width: 100%;
  margin: 40px 0 20px;
  min-height: 560px;
  display: inline-grid;
}
.style_item__3VG_j img {
  width: 100%;
  border-radius: 15px;
  height: auto;
}
.style_itemPlaceholder__3u0hT {
  height: 100%;
  border-radius: 15px;
  min-width: 90%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.style_itemPlaceholder__3u0hT span {
  margin: 0 !important;
  width: 100%;
}
.style_item__3VG_j {
  margin: 0 18px;
  border-radius: 15px;
}
.style_item__3VG_j span {
  margin: 0 !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center;
  align-items: center;
}
.style_placeholder__3javY {
  position: relative !important;
  opacity: 0;
}
.style_container__1p9Vq {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 88%;
  margin: 0 auto;
  padding: 40px 0 0;
}
.style_slide__2eY8k {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  max-height: 100vh;
  display: -ms-flexbox;
  display: flex;
}
.style_focus__2yavg {
  border-color: #fff !important;
}
.style_slide_img__2NcGZ {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 530px;
  width: 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  border: 6pt solid rgba(0, 0, 0, 0);
  margin: 0 10px;
}
@media screen and (max-width: 1280px) {
  .style_slide_img__2NcGZ {
    min-height: 360px;
    border-width: 4pt;
  }
  .style_container__1p9Vq {
    padding: 20px 0 0;
  }
}
.preview-channel {
  position: absolute;
  will-change: transform;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  width: 100%;
  top: 100%;
  z-index: 100;
  background-color: #3a3a3a;
  padding: 20px;
  border-radius: 15px;
  overflow: hidden;
}
.preview-channel img {
  border-radius: 15px;
  height: 250px;
}
.preview-body {
  display: -webkit-box;
}
.preview-body > * {
  margin: 0 30px 0 0;
}
.preview-transition-enter {
  height: 0;
  padding: 0 30px;
}
.preview-transition-enter-active {
  height: 210px;
  -webkit-transition: height 0.2s ease-in;
  -o-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}
.preview-transition-enter-done {
  height: auto;
}
.preview-transition-exit-done {
  display: none;
  padding: 0 30px;
}
.preview-transition-exit,
.preview-transition-exit-active {
  height: 0;
  padding: 0;
}
.preview-title {
  color: #e41a4b;
  font-size: 42px;
  font-weight: 700;
}
.preview-info {
  font-size: 34px;
  margin-top: 10px;
  width: 81%;
}
@media screen and (min-width: 3000px) {
  .preview-channel {
    -webkit-transform: translate(-50%, 20px);
    -ms-transform: translate(-50%, 20px);
    transform: translate(-50%, 20px);
    padding: 40px;
  }
  .preview-channel img {
    height: 500px;
  }
  .preview-body > * {
    margin: 0 60px 0 0;
  }
  .preview-transition-enter {
    padding: 0 60px;
  }
  .preview-transition-enter-active {
    height: 420px;
  }
  .preview-transition-exit-done {
    display: none;
    padding: 0 60px;
  }
  .preview-title {
    font-size: 84px;
  }
  .preview-info {
    font-size: 68px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .preview-channel {
    -webkit-transform: translate(-50%, 8px);
    -ms-transform: translate(-50%, 8px);
    transform: translate(-50%, 8px);
    padding: 17px;
  }
  .preview-channel img {
    height: 180px;
  }
  .preview-body > * {
    margin: 0 20px 0 0;
  }
  .preview-transition-enter {
    padding: 0 20px;
  }
  .preview-transition-enter-active {
    height: 180px;
  }
  .preview-transition-exit-done {
    display: none;
    padding: 0 20px;
  }
  .preview-title {
    font-size: 30px;
  }
  .preview-info {
    font-size: 22px;
    margin-top: 8px;
    width: 80%;
  }
}
.filter-genre-wrapper {
  display: table;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}
.filter-genre-wrapper h2 {
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
}
.filters {
  margin: 40px 0 10px;
  padding: 0 20px;
}
.filters > * {
  border-right: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
}
.filter-item {
  background-color: #1c1c1c;
  padding: 30px;
  border-radius: 15px;
  height: 70px;
  width: 125px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}
.filter-item > img {
  height: 100%;
  width: auto;
}
.focus-filter {
  background-color: #373737;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  outline: none;
}
.focused-filter {
  background-color: #e41a4b;
}
@media screen and (min-width: 3000px) {
  .filter-genre-wrapper h2 {
    margin-top: 20px;
    font-size: 60px;
  }
  .filters {
    margin: 80px 0 20px;
    padding: 0 40px;
  }
  .filters > * {
    border-right-width: 60px;
  }
  .filter-item {
    margin-top: 20px;
    padding: 60px;
    height: 140px;
    width: 250px;
  }
}
@media screen and (max-width: 1280px) {
  .filter-genre-wrapper h2 {
    margin-top: 8px;
    font-size: 20px;
  }
  .filters {
    margin: 20px 0 8px;
    padding: 0 18px;
  }
  .filters > * {
    border-right-width: 20px;
  }
  .filter-item {
    margin-top: 8px;
    padding: 20px;
    height: 50px;
    width: 75px;
  }
}
.style_flexbox__1ErWz {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 0 30px;
  position: relative;
}
.style_flexbox__1ErWz > * {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.style_grid__2vMr0 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.TopInfo_divider__3y53p {
  width: 100%;
  border: 2px solid #383838;
  margin: 10px 0 30px;
}
.TopInfo_balance__3XHHj {
  color: #e41a4b;
  font-size: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end;
  line-height: 50px;
  font-weight: 400;
}
.TopInfo_balance__3XHHj > span {
  color: #e41a4b;
  font-size: 30px;
  font-weight: 400;
}
.TopInfo_phone_user__P4Df9 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.TopInfo_phone_user__P4Df9 > img {
  margin: 0 40px 0 20px;
}
.TopInfo_wrapper__1QjlD {
  padding: 40px 30px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.TopInfo_wrapper__1QjlD > * {
  margin: 0 0 40px;
}
.TopInfo_flex__29_tv > * {
  margin: 0 0 0 40px;
}
.TopInfo_block__1fVKe,
.TopInfo_flex_between__1IkWn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.TopInfo_block__1fVKe {
  width: 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #1c1c1c;
  padding: 30px 50px;
  border-radius: 15px;
  width: -webkit-fill-available;
}
.TopInfo_block__1fVKe p {
  font-size: 30px;
  margin: 0;
}
.TopInfo_block__1fVKe > p {
  margin: 0 0 20px !important;
}
.TopInfo_block__1fVKe h1 {
  font-size: 40px;
}
.TopInfo_user_info__182R3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.TopInfo_user_info__182R3 h1 {
  margin: 0;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.TopInfo_user_info__182R3 h3 {
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 200;
  color: #e41a4b;
  margin-top: 10px;
}
.TopInfo_button__20-cM {
  border-radius: 15px;
  background-color: #373737;
  padding: 15px;
  height: 77px;
  width: 77px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.TopInfo_button__20-cM > img {
  height: 100%;
}
.TopInfo_secondary_button__bu0GK {
  width: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 28px;
  border: 4px solid #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.TopInfo_input__3a-1t {
  padding: 20px 30px;
  border-radius: 15px;
  font-size: 28px;
  color: #000;
  font-weight: 600;
}
.TopInfo_login__3XJZU {
  width: -webkit-fill-available;
}
.TopInfo_flex__29_tv {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 3000px) {
  .TopInfo_divider__3y53p {
    border-width: 4px;
  }
  .TopInfo_balance__3XHHj {
    font-size: 120px;
    line-height: 100px;
  }
  .TopInfo_balance__3XHHj > span {
    font-size: 60px;
  }
  .TopInfo_phone_user__P4Df9 > img {
    margin: 0 80px 0 40px;
  }
  .TopInfo_wrapper__1QjlD {
    padding: 80px 60px 0;
  }
  .TopInfo_wrapper__1QjlD > * {
    margin: 0 0 80px;
  }
  .TopInfo_flex__29_tv > * {
    margin: 0 0 0 80px;
  }
  .TopInfo_block__1fVKe {
    padding: 60px 100px;
  }
  .TopInfo_block__1fVKe p {
    font-size: 60px;
  }
  .TopInfo_block__1fVKe > p {
    margin: 0 0 40px !important;
  }
  .TopInfo_block__1fVKe h1,
  .TopInfo_user_info__182R3 h1 {
    font-size: 80px;
  }
  .TopInfo_user_info__182R3 h3 {
    font-size: 56px;
    margin-top: 20px;
  }
  .TopInfo_button__20-cM {
    padding: 30px;
    height: 154px;
    width: 154px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .TopInfo_secondary_button__bu0GK {
    padding: 30px;
    font-size: 56px;
    border-width: 8px;
  }
  .TopInfo_input__3a-1t {
    padding: 40px 60px;
    font-size: 56px;
  }
}
@media screen and (max-width: 1280px) {
  .TopInfo_divider__3y53p {
    border-width: 2px;
  }
  .TopInfo_balance__3XHHj {
    font-size: 40px;
    line-height: 40px;
  }
  .TopInfo_balance__3XHHj > span {
    font-size: 20px;
  }
  .TopInfo_phone_user__P4Df9 > img {
    margin: 0 25px 0 10px;
    height: 50px;
  }
  .TopInfo_wrapper__1QjlD {
    padding: 25px 20px 0;
  }
  .TopInfo_wrapper__1QjlD > * {
    margin: 0 0 25px;
  }
  .TopInfo_flex__29_tv > * {
    margin: 0 0 0 25px;
  }
  .TopInfo_block__1fVKe {
    padding: 20px 30px;
  }
  .TopInfo_block__1fVKe p {
    font-size: 20px;
  }
  .TopInfo_block__1fVKe > p {
    margin: 0 0 12px !important;
  }
  .TopInfo_block__1fVKe h1 {
    font-size: 25px;
    margin: 0 0 20px;
  }
  .TopInfo_user_info__182R3 h1 {
    font-size: 25px;
  }
  .TopInfo_user_info__182R3 h3 {
    font-size: 56px;
    margin-top: 20px;
  }
  .TopInfo_button__20-cM {
    border-radius: 10px;
    padding: 10px;
    height: 50px;
    width: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .TopInfo_secondary_button__bu0GK {
    padding: 30px;
    font-size: 56px;
    border-width: 8px;
  }
  .TopInfo_input__3a-1t {
    padding: 15px 20px;
    font-size: 25px;
  }
}
.style_body__1pi4m {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 30px;
  overflow: hidden;
  margin: 20px 0 0;
}
.style_body__1pi4m > * {
  margin: 0 0 40px !important;
}
.style_middle__3p65T {
  background-image: url(../../staticfiles/media/middleTariff.65e0c47e.png);
  position: relative;
  height: 1300px;
  background-position: 50%;
  background-size: inherit;
  -webkit-transform: translate(-2%, -40px);
  -ms-transform: translate(-2%, -40px);
  transform: translate(-2%, -40px);
  width: 104%;
}
.style_middle__3p65T > span {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.style_middle__3p65T > h1 {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 40px;
  font-weight: 800;
}
.style_tariff__Cgyxu > img {
  width: 100%;
}
.style_tariff__Cgyxu {
  position: relative;
  border-radius: 15px;
  min-height: 415px;
}
.style_tariff__Cgyxu > h3 {
  position: absolute;
  top: 30px;
  left: 5%;
  font-size: 40px;
}
.style_tariff_body__27Lwi {
  position: absolute;
  bottom: 40px;
  left: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.style_tariff_body__27Lwi > p {
  width: 60%;
  font-size: 40px;
  margin: 0 0 50px;
}
.style_tariff_body__27Lwi h1 {
  font-size: 48px;
  font-weight: 300;
}
.style_tariff_body__27Lwi span {
  font-weight: 700;
  font-size: 32px;
}
.style_tariff_body__27Lwi > div {
  -ms-flex-align: center;
  align-items: center;
}
.style_tariff_body__27Lwi button {
  width: 300px;
  padding: 30px 0;
  font-size: 30px;
}
.style_mark__2aPEz {
  position: absolute;
  top: 18px;
  left: 18px;
}
.style_tv_start__2SDQ0 p {
  margin: 0 0 30px;
  line-height: 45px;
}
.style_red_bg__23sUW {
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    color-stop(150%, #e41a4b)
  );
  background: -o-linear-gradient(top, #000 0, #e41a4b 150%);
  background: linear-gradient(180deg, #000, #e41a4b 150%);
  padding: 60px 80px;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.style_red_bg__23sUW > img {
  width: 20%;
}
.style_red_bg__23sUW > :first-child {
  width: 50%;
}
.style_red_bg__23sUW p {
  font-size: 30px;
  margin: 30px 0 0;
}
.style_red_bg__23sUW h1 {
  font-size: 40px;
  margin: 0;
}
@media screen and (min-width: 3000px) {
  .style_middle__3p65T {
    height: 2900px !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .style_body__1pi4m {
    padding: 20px 60px;
    margin: 40px 0 0;
  }
  .style_body__1pi4m > * {
    margin: 0 0 80px !important;
  }
  .style_middle__3p65T > h1 {
    top: 100px;
    font-size: 80px;
  }
  .style_tariff__Cgyxu {
    min-height: 830px;
  }
  .style_tariff__Cgyxu > h3 {
    top: 60px;
    font-size: 80px;
  }
  .style_tariff_body__27Lwi {
    bottom: 80px;
    left: 160px;
  }
  .style_tariff_body__27Lwi > p {
    font-size: 80px;
    margin: 0 0 100px;
  }
  .style_tariff_body__27Lwi h1 {
    font-size: 96px;
  }
  .style_tariff_body__27Lwi span {
    font-size: 64px;
  }
  .style_tariff_body__27Lwi button {
    width: 600px;
    padding: 60px 0;
    font-size: 60px;
  }
  .style_mark__2aPEz {
    top: 36px;
    left: 25px;
  }
  .style_tv_start__2SDQ0 p {
    margin: 0 0 60px;
    line-height: 90px;
  }
  .style_red_bg__23sUW {
    border-radius: 30px;
    padding: 120px 160px;
  }
  .style_red_bg__23sUW p {
    font-size: 60px;
    margin: 60px 0 0;
  }
  .style_red_bg__23sUW h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 1280px) {
  .style_middle__3p65T {
    height: 1000px !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .style_body__1pi4m {
    padding: 0 30px;
    margin: 10px 0 0;
  }
  .style_body__1pi4m > * {
    margin: 0 0 25px !important;
  }
  .style_middle__3p65T > h1 {
    top: 100px;
    font-size: 30px;
  }
  .style_tariff__Cgyxu {
    min-height: 273px;
  }
  .style_tariff__Cgyxu > h3 {
    top: 32px;
    left: 70px;
    font-size: 26px;
  }
  .style_tariff_body__27Lwi {
    bottom: 20px;
    left: 40px;
  }
  .style_tariff_body__27Lwi > p {
    font-size: 26px;
    margin: 0 0 30px;
  }
  .style_tariff_body__27Lwi h1 {
    font-size: 35px;
  }
  .style_tariff_body__27Lwi span {
    font-size: 22px;
  }
  .style_tariff_body__27Lwi button {
    width: 200px;
    padding: 60px 0;
    font-size: 20px;
  }
  .style_mark__2aPEz {
    top: 20px;
    left: 20px;
  }
  .style_tv_start__2SDQ0 p {
    margin: 0 0 20px;
    line-height: 30px;
  }
  .style_red_bg__23sUW {
    border-radius: 10px;
    padding: 40px 60px;
  }
  .style_red_bg__23sUW p {
    font-size: 20px;
    margin: 20px 0 0;
  }
  .style_red_bg__23sUW h1 {
    font-size: 30px;
  }
}
.search-bar {
  position: relative;
  width: 95%;
  margin: 0 auto;
}
.search-bar img {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.search-input {
  width: -webkit-fill-available;
  border-radius: 15px;
  border: 2px solid #6a6a6a;
  font-size: 30px;
  font-weight: 600;
  padding: 25px 30px;
  background-color: #000;
}
@media screen and (min-width: 3000px) {
  .search-bar img {
    right: 50px;
  }
  .search-input {
    border-width: 4px;
    font-size: 60px;
    padding: 50px 60px;
  }
}
@media screen and (max-width: 1280px) {
  .search-bar img {
    right: 20px;
    height: 25px;
  }
  .search-input {
    border-width: 2px;
    font-size: 20px;
    padding: 15px 20px;
  }
}
.filters-page {
  padding: 20px;
}
.filters-page > .col .filters-title {
  margin-top: 10px;
}
.filters-title {
  font-size: 46px;
  font-weight: 500;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
}
.filters-title > * {
  margin: 0 0 0 15px !important;
}
.filters-title span {
  font-size: 32px;
}
.filters-title > span:first-child {
  margin-left: 20px;
}
.frame-filter {
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #fff;
  width: inherit;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
}
.frame-filter button {
  margin-bottom: 10px;
}
.body-filters {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 10px 0 0;
}
.body-filters > * {
  margin: 0 20px 0 0 !important;
}
.filter-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cinema-img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 30px;
}
.cinema-img > * {
  margin: 0 30px 0 0 !important;
}
.cinema-img img {
  border-radius: 15px;
}
.focus-cinema {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: 7px solid #e41a4b;
  border-radius: 15px;
}
@media screen and (min-width: 3000px) {
  .filters-page {
    padding: 40px;
  }
  .filters-page > .col .filters-title {
    margin-top: 20px;
  }
  .filters-title {
    font-size: 52px;
  }
  .filters-title > * {
    margin: 0 0 0 30px !important;
  }
  .filters-title span {
    font-size: 64px;
  }
  .filters-title > span:first-child {
    margin-left: 40px;
  }
  .frame-filter {
    padding: 40px;
    border-width: 4px;
    grid-gap: 20px;
    gap: 20px;
  }
  .frame-filter button {
    margin-bottom: 20px;
  }
  .body-filters {
    margin-top: 20px;
  }
  .body-filters > * {
    margin: 0 40px 0 0 !important;
  }
  .cinema-img {
    margin: 0 0 60px;
  }
  .cinema-img > * {
    margin: 0 60px 0 0 !important;
  }
  .focus-cinema {
    border-width: 14px;
  }
}
@media screen and (max-width: 1280px) {
  .filters-page {
    padding: 15px;
  }
  .filters-page > .col .filters-title {
    margin-top: 8px;
  }
  .filters-title {
    font-size: 25px;
  }
  .filters-title > * {
    margin: 0 0 0 8px !important;
  }
  .filters-title span {
    font-size: 25px;
  }
  .filters-title > span:first-child {
    margin-left: 15px;
  }
  .frame-filter {
    padding: 15px;
    border-width: 1px;
    grid-gap: 8px;
    gap: 8px;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .frame-filter button {
    margin-bottom: 8px;
  }
  .body-filters {
    margin: 8px 0 0;
  }
  .body-filters > * {
    margin: 0 15px 0 0 !important;
  }
  .cinema-img {
    margin: 0;
  }
  .cinema-img > * {
    margin: 0 20px 0 0 !important;
  }
  .focus-cinema {
    border-width: 5px;
  }
}
.film-page {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.background-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(30px) brightness(0.4);
  filter: blur(30px) brightness(0.4);
  width: 100%;
}
.top-section {
  margin: 20px 0 0;
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.top-section > * {
  margin: 0 30px 0 0 !important;
}
.top-section img {
  height: 500px;
  border-radius: 15px;
}
.top-section .secondary-title {
  font-size: 42px;
  color: #e41a4b;
}
.film-desc {
  font-size: 30px !important;
  line-height: 35px;
}
.film-params {
  display: -ms-flexbox;
  display: flex;
  width: 100% !important;
  margin: 40px 0 !important;
}
.film-params span {
  margin: 0 50px 0 0 !important;
}
.film-ratings {
  font-size: 42px !important;
  font-weight: 500;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0;
}
.film-ratings > * {
  margin: 0 50px 0 0 !important;
}
.film-ratings > span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
.film-ratings > span > * {
  margin: 0 15px 0 0;
}
.auth-buttons {
  display: -ms-flexbox;
  display: flex;
}
.auth-buttons > button {
  font-weight: 600;
  padding: 30px;
}
.auth-buttons > * {
  margin: 0 1em 0 0;
}
.actor-card {
  height: 300px;
  width: 202px;
  max-width: 218px;
  display: table;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 0 0;
  margin: 0 5px;
}
.actor-card > :first-child {
  width: auto !important;
  height: auto !important;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}
.actor-card > div > :first-child {
  width: 202px;
  height: 202px;
  text-align: center;
}
.actor-card img {
  width: 80% !important;
  height: auto !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.actor-card article {
  margin: 25px 0 0 !important;
  text-align: center;
  max-width: 218px;
}
.film-buttons button {
  padding: 25px;
}
.episodes {
  margin-bottom: 50px;
}
.episodes > div {
  padding: 5px 30px;
}
.episodes > div > div {
  -ms-flex-pack: start;
  justify-content: start;
  grid-gap: 10px;
  gap: 10px;
}
.episodes h1 {
  color: #e41a4b;
  font-size: 36px;
  margin-bottom: 10px;
}
.episode-card {
  text-align: center;
  margin: 0 10px;
  border: none;
  position: relative;
  border: 7px solid rgba(0, 0, 0, 0);
}
.episode-card.current-card img {
  height: auto;
  -webkit-filter: contrast(0.5) brightness(0.8);
  filter: contrast(0.5) brightness(0.8);
}
.episode-card.previous-card img {
  height: auto;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}
.episode-card .continue-p {
  position: absolute;
  bottom: 5px;
  font-size: 25px;
  left: 30px;
  margin: 0;
}
.episode-card .play-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.episode-card .play-img img {
  height: 20px;
  -webkit-filter: none;
  filter: none;
  margin: 0 15px 0 0;
}
.episode-card h4 {
  font-size: 23px;
  text-align: center;
  margin: 15px 0 !important;
}
.episode-card > div {
  width: 300px;
  height: 200px;
}
.episode-card > div img {
  height: auto;
  height: 170px;
}
.genres {
  font-size: 30px;
  -ms-flex: 1 1;
  flex: 1 1;
}
.genres p {
  margin: 10px 0;
}
@media screen and (min-width: 3000px) {
  .top-section {
    margin: 40px 0 0;
    padding: 40px;
  }
  .top-section > * {
    margin: 0 60px 0 0 !important;
  }
  .top-section img {
    height: 1000px;
    border-radius: 30px;
  }
  .top-section .secondary-title {
    font-size: 84px;
  }
  .film-desc {
    font-size: 60px !important;
    line-height: 70px;
    width: 95% !important;
  }
  .film-params span {
    margin: 0 100px 0 0 !important;
  }
  .film-ratings {
    font-size: 84px !important;
    margin: 60px 0 0;
  }
  .film-ratings > * {
    margin: 0 100px 0 0 !important;
  }
  .film-ratings > span > * {
    margin: 0 30px 0 0;
  }
  .auth-buttons > button {
    padding: 60px;
  }
  .actor-card {
    height: 600px;
    width: 404px;
    max-width: 536px;
    padding: 20px 0 0;
    margin: 0 10px;
  }
  .actor-card > div > :first-child {
    width: 404px;
    height: 404px;
  }
  .actor-card article {
    margin: 50px 0 0 !important;
    max-width: 436px;
  }
  .film-buttons button {
    padding: 50px;
  }
  .episodes {
    margin-bottom: 100px;
  }
  .episodes > div {
    padding: 10px 60px;
  }
  .episodes > div > div {
    grid-gap: 20px;
    gap: 20px;
  }
  .episodes h1 {
    color: #e41a4b;
    font-size: 52px;
    margin-bottom: 20px;
  }
  .episode-card {
    margin: 0 20px;
    border-width: 14px;
  }
  .episode-card .continue-p {
    bottom: 10px;
    font-size: 50px;
    left: 60px;
  }
  .episode-card .play-img img {
    height: 40px;
    margin: 0 30px 0 0;
  }
  .episode-card h4 {
    font-size: 46px;
    margin: 30px 0 !important;
  }
  .episode-card > div {
    width: 600px;
    height: 400px;
  }
  .episode-card > div img {
    height: 340px;
  }
  .genres {
    font-size: 60px;
  }
  .genres p {
    margin: 20px 0;
  }
}
@media screen and (max-width: 1280px) {
  .top-section {
    margin: 15px 0 0;
    padding: 15px;
  }
  .top-section > * {
    margin: 0 20px 0 0 !important;
  }
  .top-section img {
    height: 350px;
    border-radius: 0;
  }
  .top-section .secondary-title {
    font-size: 24px;
  }
  .film-desc {
    font-size: 20px !important;
    line-height: 25px;
    width: 95% !important;
  }
  .film-params span {
    margin: 0 20px 0 0 !important;
  }
  .film-ratings {
    font-size: 25px !important;
    margin: 20px 0 0;
  }
  .film-ratings > * {
    margin: 0 30px 0 0 !important;
  }
  .film-ratings > span > * {
    margin: 0 10px 0 0;
  }
  .auth-buttons > button {
    padding: 20px;
  }
  .actor-card {
    height: 210px;
    width: 150px;
    max-width: 150px;
    padding: 8px 0 0;
    margin: 0 3px;
  }
  .actor-card > div > :first-child {
    width: 100px;
    height: 150px;
  }
  .actor-card article {
    margin: 15px 0 0 !important;
    max-width: 150px;
    font-size: 26px !important;
  }
  .film-buttons button {
    padding: 15px;
  }
  .episodes {
    margin: 0 0 80px;
  }
  .episodes > div {
    padding: 10px 30px;
  }
  .episodes > div > div {
    grid-gap: 20px;
    gap: 20px;
  }
  .episodes h1 {
    color: #e41a4b;
    font-size: 26px;
    margin-bottom: 20px;
  }
  .episode-card {
    margin: 0 20px 0 0 !important;
    border-width: 14px;
  }
  .episode-card .continue-p {
    bottom: 10px;
    font-size: 50px;
    left: 60px;
  }
  .episode-card .play-img img {
    height: 40px;
    margin: 0 30px 0 0;
  }
  .episode-card article {
    font-size: 24px !important;
    margin: 20px 0 5px !important;
  }
  .episode-card > div {
    width: 210px;
    height: 140px;
  }
  .episode-card > div img {
    height: 140px;
  }
  .genres {
    font-size: 20px;
  }
  .genres p {
    margin: 8px 0;
  }
  .bottom-section {
    margin: 0;
  }
}
.style_block__3rV4B {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.style_wrap__1AIsP {
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-in-out;
  -o-transition: max-height 0.4s ease-in-out;
  transition: max-height 0.4s ease-in-out;
}
.style_expand__3kkDJ {
  width: 100%;
  height: 40px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(28, 28, 28, 0)),
    to(rgba(228, 26, 76, 0.3568627450980392))
  );
  background: -o-linear-gradient(
    top,
    rgba(28, 28, 28, 0) 0,
    rgba(228, 26, 76, 0.3568627450980392) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(28, 28, 28, 0),
    rgba(228, 26, 76, 0.3568627450980392)
  );
  border-radius: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border: 4px solid #000;
}
.style_expand__3kkDJ > span {
  text-align: center;
  -webkit-transform: rotate(90deg) scaleY(1.5);
  -ms-transform: rotate(90deg) scaleY(1.5);
  transform: rotate(90deg) scaleY(1.5);
  font-size: 30px;
  width: 28px;
  color: #f0f8ff;
}
.style_focusExpand__Y89A0 {
  border: 4px solid #e41a4b;
  -webkit-animation: style_anim__2E6Ss 0.5s ease-in-out;
  animation: style_anim__2E6Ss 0.5s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@-webkit-keyframes style_anim__2E6Ss {
  0% {
    -webkit-filter: opacity(0);
  }
  to {
    -webkit-filter: opacity(1);
  }
}
@media screen and (min-width: 3000px) {
  .style_expand__3kkDJ {
    height: 80px;
    border-width: 8px;
  }
  .style_expand__3kkDJ > span {
    font-size: 60px;
    width: 56px;
  }
  .style_focusExpand__Y89A0 {
    border-width: 8px;
  }
}
.warpper-messages {
  height: calc(100vh - 131px);
}
.block-message,
.warpper-messages {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.block-message {
  padding: 20px;
  border-radius: 15px;
  background-color: #1c1c1c;
  width: 20%;
  height: 20%;
}
.block-message h1 {
  margin: 0;
}
@media screen and (min-width: 3000px) {
  .warpper-messages {
    height: calc(100vh - 189px);
  }
  .block-message {
    padding: 40px;
  }
}
.tariff > img {
  width: 100%;
}
.tariff {
  position: relative;
  border-radius: 15px;
}
.tariff > h3:nth-child(2) {
  top: 100px;
}
.tariff > h3 {
  top: 20px;
  font-size: 40px;
}
.tariff > h3,
.tariff_body {
  position: absolute;
  left: 80px;
}
.tariff_body {
  bottom: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.tariff_body > p {
  width: 60%;
  font-size: 36px;
  margin: 0 0 30px;
}
.tariff_body h1 {
  font-size: 48px;
  font-weight: 300;
}
.tariff_body span {
  font-weight: 700;
  font-size: 36px;
}
.tariff_body > div {
  -ms-flex-align: center;
  align-items: center;
}
.tariff_body button {
  width: 300px;
  padding: 30px 0;
  font-size: 30px;
}
@-webkit-keyframes slideAnim {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes slideAnim {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.looper {
  width: 100%;
  overflow: hidden;
}
.looper__innerList {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.looper__innerList[data-animate="true"] .looper__listInstance {
  -webkit-animation: slideAnim linear infinite;
  animation: slideAnim linear infinite;
}
.looper__listInstance {
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation: none;
  animation: none;
}
